<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="card">
    <div class="card-content">

      <ion-item>
        <p><strong style="right: auto;">Codigo:</strong>{{this.getdata.codigo}}</p>
      </ion-item>

      <h1 style="color: #ff0000; text-align: center">
        Detalle De Formulario Verificación
      </h1>

      <ion-item>
        <h2 style="color: #1EA9A7">Datos Iniciales</h2>
      </ion-item>

      <ion-item>
        <p><strong>Nombre Gestor:</strong>{{this.getdata.nombre_gestor}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Fecha Actual:</strong>{{this.getdata.fecha_actual}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Nombre Tienda:</strong>{{this.getdata.nombre_tienda}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Nombre Cliente:</strong>{{this.getdata.nombre_cliente}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Número Cédula:</strong>{{this.getdata.numero_cedula}}</p>
      </ion-item>

      <ion-item>
        <strong>Direccion:</strong>{{this.getdata.direccion_cliente}}
      </ion-item>
      <ion-item>
          <div id="mapa"></div>
          <div id="coordinates" class="coordinates"></div>
      </ion-item>

      <ion-item>
        <h2 style="color: #1EA9A7">VIVIENDA</h2>
      </ion-item>

      <ion-item>
        <p><strong>Tipo Vivienda:</strong>{{this.getdata.tipo_vivienda}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Persona Que Verifica:</strong>{{this.getdata.persona_verifica}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Residencia Minima:</strong>{{this.getdata.residencia_minima}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Local o Tereno Propio:</strong>{{this.getdata.localTerreno_propio}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Local o Terreno Arrendado:</strong>{{this.getdata.localTerreno_arrendado}}</p>
      </ion-item>

      <ion-item>
        <h2 style="color: #1EA9A7">SERVICIOS </h2>
      </ion-item>

      <ion-item>
        <p><strong>Planilla Servicio Básico:</strong>{{this.getdata.planilla_servicios}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Captura Planilla:</strong></p>
      </ion-item>

      <ion-item>
        <p><strong>Seguridad Puertas Ventanas:</strong>{{this.getdata.seguridad_puertas}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Mueblerías Básica:</strong>{{this.getdata.muebleria_basica}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Material Casa:</strong>{{this.getdata.material_casa}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Actividades Laborales:</strong>{{this.getdata.periodicidad_actividades}}</p>
      </ion-item>

      <ion-item>
        <h2 style="color: #1EA9A7">VECINOS </h2>
      </ion-item>

      <ion-item>
        <p><strong>Confirmación Vecinos:</strong>{{this.getdata.vecino_confirm}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Nombre Del Vecino:</strong>{{this.getdata.vecino_nombre}}</p>
      </ion-item>

      <ion-item>
        <p><strong>Celular Vecino:</strong>{{this.getdata.vecino_celular}}</p>
      </ion-item>

      <ion-item>
        <h2 style="color: #1EA9A7">IMAGENES </h2>
      </ion-item>

      <ion-item>
        <img src= {{this.getdata.imagen_planilla}}>
      </ion-item>

      <ion-item>
        <img src= {{this.getdata.imagen_estabilidad}}>
      </ion-item>

      <ion-item>
      </ion-item>

      <ion-item>
      </ion-item>

    </div>
  </div>
</ion-content>
