<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="card">
    <div class="card-content">
      <h1 style="color: #ff0000; text-align: center">
        Formulario De Verificación
      </h1>
      <ion-item-group>
        <ion-item>
          <h5>Datos</h5>
        </ion-item>
        <p><strong>Nombre Gestor:</strong>{{this.nombreUsuario}}</p>
        <p><strong>Fecha actual:</strong>{{this.nombreUsuario}}</p>
        <p><strong>Nombre Tienda:</strong>{{this.nombreUsuario}}</p>
        <p><strong>Nombre Cliente:</strong>{{this.nombreUsuario}}</p>
        <p><strong>Número de Cédula:</strong>{{this.nombreUsuario}}</p>
        <p><strong>Código:</strong>{{this.nombreUsuario}}</p>
        <p><strong>Direccion Cliente:</strong>{{this.nombreUsuario}}</p>

      </ion-item-group>





    </div>
  </div>
</ion-content>