.label-floating.sc-ion-label-md-h {
  margin-bottom: 20px;
  color: #0d7832;
  flex: 10;
  font-size: 20px;
}

ion-content {
  --background: #6b45bc;
  position: relative;
  font-size: 16px;

  ion-input {
    margin-top: 10px;
    border: solid 1px #6b45bc;
    padding: 10px;
    width: 100%;
  }

  .card {
    height: 85%;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    margin-bottom: 20px;
  }
}

.form-group {
  margin-bottom: 20px;
  .form-label-gestor {
    color: #6b45bc;
    font-size: 20px;
  }
  .form-input-gestor {
    margin-top: 10px;
    border: solid 1px #6b45bc;
    padding-left: 10px; /* Agregar un espacio en blanco de 10px en el lado izquierdo */
    width: 100%;
  }
}
