<ion-content class="ion-padding">
  <div class="header">
    <div class="contenedor">
      <img src="assets/images/IconoIcesa.png" alt="iconoIcesa">
      <div class="centrado"><h1>Gestores</h1></div>                                                     
    </div>
  </div>
  <app-searchbar (ionChange)="handleChange($event)"></app-searchbar>
  <ion-item>
    <ion-badge slot="start">{{results.length}} Resultados</ion-badge>
  </ion-item>
  <div class="categories">
    <!-- <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item> -->
  </div>
  <h1 class="list-header">Lista</h1>
  <div class="food-list" *ngIf="results.length == 0">
    <app-food-card
      *ngFor="let user of getdata  | slice:0:15;"
      [item]="user"
      (clicked)="goToDetailPage(user.cedulaCliente)"
    ></app-food-card>
  </div>
  <div class="food-list">
    <app-food-card
      *ngFor="let user of results"
      [item]="user"
      (clicked)="goToDetailPage(user.cedulaCliente)"
    ></app-food-card>
  </div>
</ion-content>
