.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 2px solid #ddd;


  }

  .icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border-radius: 0%;
    ion-icon{
        font-size: 4rem;
    }


  }

  .info-container {
    width: calc(100% - 60px);
    padding-left: 1rem;

    h5{
        font-weight: bold;
        color:#285430;
    }

    p{
        font-size: 1.1rem;
        align-items: center;
        font-weight: bold;


    }


  }


