small {
  color: var(--ion-color-danger-shade);
}

.ion-invalid.ion-touched ion-label {
  color: var(--ion-color-danger-shade);
}

/** For form invalid field for Angular*/
.ion-invalid.ion-touched ion-input {
  color: red;
}

.mapboxgl-canvas-container {
  height: 400px;
}

.mapboxgl-ctrl-geocoder {
  top: 80px;
  left: 10px;
  z-index: 1;
}

.mapboxgl-ctrl-geolocate {
  top: 150px;
  left: 10px;
  z-index: 1;
}

#mapa {
  margin-top: 3vh;
  width: 100%;
  height: 400px;
}

.label-floating.sc-ion-label-md-h {
  margin-bottom: 15px;
  color: #15863d;
}

#map {
  margin-top: 1vh;
  width: 100%;
  height: 400px;
}

ion-content {
  --background: #6b45bc;
  position: relative;

  ion-input {
    .ion-datetime {
      display: flex;
      justify-content: center;
    }
  }

  .container {
    width: 200px;
    height: 600px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0, 5rem;
    ion-button {
      height: 60px;
      width: 60px;
      ion-icon {
        font-size: 2rem;
      }
    }
  }
  .card {
    height: 85%;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    .image {
      position: absolute;
      top: -2.5rem;
      width: 40%;
      left: 50%;
      transform: translate(-50%);
    }
    .card-title {
      margin-top: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.2rem;
      h1 {
        font-weight: 700;
        font-size: 1.1rem;
      }
      p {
        font-size: 2.2rem;
        font-weight: 700;
        color: #ffb800;
        sup {
          font-size: 1.2rem;
          margin-right: -0.1rem;
        }
      }
    }
    .rates {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }
    .span-text {
      font-weight: 600;
    }

    .about {
      margin-bottom: 1rem;
      h1 {
        font-weight: 600;
        font-size: 1rem;
      }
      p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #b9b9b9;
      }
    }
  }
}
