<!-- <div id="map"></div> -->
<app-button (click)="openModal()">Realizar Gestion</app-button>

<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/refi-listing">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="card">
    <div class="card-content">
      <form (submit)="submitForm($event)" novalidate [formGroup]="dataForm">
        <ion-accordion-group>
          <ion-accordion value="datosRefi">
            <ion-item slot="header" color="light">
              <ion-label>Datos Refinanciamiento</ion-label>
            </ion-item>

            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-label position="floating">Fecha Refinanciación</ion-label>

                <ion-datetime
                  [value]="currentDate"
                  displayFormat="MMM DD, YYYY HH:mm"
                  disabled="true"
                ></ion-datetime>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >Nombre de Refinanciador</ion-label
                >
                <ion-input
                  value="{{this.nombreUsuario}}"
                  disabled="true"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Número de Operacion</ion-label>
                <ion-input
                  name="refi_operacion"
                  value=""
                  type="number"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >Número de Autorización</ion-label
                >
                <ion-input
                  name="refi_autorizacion"
                  value=""
                  type="number"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >Número de Autorización Original</ion-label
                >
                <ion-input
                  name="refi_autorizacion_original"
                  value=""
                  type="number"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Plazo(meses)</ion-label>
                <ion-select
                  (ionChange)="handleChange($event)"
                  interface="action-sheet"
                  placeholder="Seleccionar"
                  name="refi_plazo"
                >
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                  <ion-select-option value="9">9</ion-select-option>
                  <ion-select-option value="12">12</ion-select-option>
                  <ion-select-option value="15">15</ion-select-option>
                  <ion-select-option value="18">18</ion-select-option>
                  <ion-select-option value="24">24</ion-select-option>
                  <ion-select-option value="32">32</ion-select-option>
                  <ion-select-option value="48">48</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Valor Cuota</ion-label>
                <ion-input
                  name="refi_valor_cuota"
                  value=""
                  type="number"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Fecha Primer Pago</ion-label>
                <ion-input
                  value="{{this.selectedDate}}"
                  disabled="true"
                ></ion-input>

                <ion-datetime
                  [mode]="'ios'"
                  displayFormat="DD/MM/YYYY"
                  (ionChange)="dateChanged($event)"
                ></ion-datetime>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >Pago de Gastos Administrativos</ion-label
                >
                <ion-input
                  name="refi_pago_gastos_administrativos"
                  value=""
                  type="number"
                ></ion-input>

                <ion-button (click)="addPhotoToGallery()">
                  Capturar Comprobante
                </ion-button>

                <ion-grid>
                  <ion-row>
                    <ion-col
                      size="6"
                      *ngFor="let photo of photoService.photos; index as position"
                    >
                      <ion-img [src]="photo.webviewPath"></ion-img>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >Total Reestructuración</ion-label
                >
                <ion-input
                  name="refi_total_reestructuracion"
                  value=""
                  type="number"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Total a Pagar</ion-label>
                <ion-input
                  name="refi_total_a_pagar"
                  value=""
                  type="number"
                ></ion-input>
              </ion-item>
            </div>
          </ion-accordion>

          <ion-accordion value="datosPersonales">
            <ion-item slot="header" color="light">
              <ion-label>Datos Personales</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-label position="floating">Nombres Completos</ion-label>
                <ion-input
                  name="cliente_nombres_completos"
                  disabled="true"
                  value="{{getdata.nombres}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Nacionalidad</ion-label>
                <ion-input
                  name="cliente_nacionalidad"
                  disabled="true"
                  value="{{getdata.nacionalidad}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Ciudad Nacimiento</ion-label>
                <ion-input
                  name="cliente_ciudad_nacimiento"
                  disabled="true"
                  type="text"
                  value="{{getdata.cod_cant_nacim}}"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Fecha Nacimiento</ion-label>
                <ion-input
                  name="cliente_fecha_nacimiento"
                  disabled="true"
                  value="{{getdata.fecha_naci}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Sexo</ion-label>

                <ion-select
                  (ionChange)="handleChange($event)"
                  interface="action-sheet"
                  placeholder="Seleccionar"
                  name="cliente_sexo"
                  value="{{getdata.des_sexo}}"
                  [formControl]="ionSelectSexo"
                >
                  <ion-select-option value="M">M</ion-select-option>
                  <ion-select-option value="F">F</ion-select-option>
                  <ion-select-option value="X">X</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Nivel Educativo</ion-label>
                <ion-select
                  (ionChange)="handleChange($event)"
                  interface="action-sheet"
                  placeholder="Seleccionar"
                  name="cliente_nivel_educativo"
                  [formControl]="ionSelectClienteNivel"
                >
                  <ion-select-option value="1.0">1.0</ion-select-option>
                  <ion-select-option value="2.0">2.0</ion-select-option>
                  <ion-select-option value="3.0">3.0</ion-select-option>
                  <ion-select-option value="4.0">4.0</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Profesión</ion-label>
                <ion-input
                  name="cliente_profesion"
                  disabled="true"
                  value="{{getdata.des_profes}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Estado Civil</ion-label>
                <ion-select
                  (ionChange)="handleChange($event)"
                  interface="action-sheet"
                  placeholder="Seleccionar"
                  name="cliente_estado_civil"
                  [formControl]="ionSelectClienteEstadoCivil"
                >
                  <ion-select-option value="S">Soltero/a</ion-select-option>
                  <ion-select-option value="C">Casado/a</ion-select-option>
                  <ion-select-option value="D">Divorciado/a</ion-select-option>
                  <ion-select-option value="V">Viudo/a</ion-select-option>
                  <ion-select-option value="U">Unión Libre</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Número Dependientes</ion-label>
                <ion-input
                  name="cliente_numero_dependientes"
                  value="{{getdata.num_hijos}}"
                  type="number"
                ></ion-input>
              </ion-item>
            </div>
          </ion-accordion>

          <ion-accordion value="Ubicacion">
            <ion-item slot="header" color="light">
              <ion-label>Ubicación del Cliente</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input
                  name="dir_direccion_exacta"
                  value=""
                  type="text"
                ></ion-input>

                <div id="map"></div>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Provincia</ion-label>
                <ion-input
                  name="dir_provincia"
                  value="{{getdata.cod_prov_dom}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Cantón/Ciudad</ion-label>
                <ion-input
                  name="dir_canton_ciudad"
                  value="{{getdata.cod_cant_dom}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Parroquia</ion-label>
                <ion-input
                  name="dir_parroquia"
                  value="{{getdata.cod_parr_dom}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input
                  name="dir_direccion"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Calle Transversal</ion-label>
                <ion-input
                  name="dir_calle_transversal"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Número</ion-label>
                <ion-input name="dir_numero" value="" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Latitud</ion-label>
                <ion-input
                  name="dir_latitud"
                  value=""
                  type="number"
                  disabled="true"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Longitud</ion-label>
                <ion-input
                  name="dir_longitud"
                  value=""
                  type="number"
                  disabled="true"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Referencia</ion-label>
                <ion-input
                  name="dir_referencia"
                  value=""
                  type="number"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Tipo Vivienda</ion-label>
                <ion-select
                  (ionChange)="handleChange($event)"
                  interface="action-sheet"
                  placeholder="Seleccionar"
                  name="dir_tipo_vivienda"
                  [formControl]="ionSelectTipoVivienda"
                >
                  <ion-select-option value="P">PROPIA</ion-select-option>
                  <ion-select-option value="A">ARRENDADA</ion-select-option>
                  <ion-select-option value="F">FAMILIAR</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Tiempo Residencia</ion-label>
                <ion-input name="dir_tiempo" value="" type="number"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Teléfono #1</ion-label>
                <ion-input name="dir_telf_1" value="" type="tel"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Teléfono #2</ion-label>
                <ion-input name="dir_telf_2" value="" type="tel"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input name="dir_email" value="" type="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >Nombre Arrendador/Familiar</ion-label
                >
                <ion-input
                  name="dir_nombre_arrendador"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating"
                  >Teléfono Arrendador/Familiar</ion-label
                >
                <ion-input
                  name="dir_telf_arrendador"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>
            </div>
          </ion-accordion>

          <ion-accordion value="datosConyuge">
            <ion-item slot="header" color="light">
              <ion-label>Datos de Cónyuge</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-label position="floating">Cédula</ion-label>
                <ion-input
                  name="conyuge_cedula"
                  value=""
                  type="number"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Nombres Completos</ion-label>
                <ion-input
                  name="conyuge_nombres"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input
                  name="conyuge_correo_electronico"
                  value=""
                  type="email"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Telefono #1</ion-label>
                <ion-input
                  name="conyuge_telf_1"
                  value=""
                  type="tel"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Telefono #2</ion-label>
                <ion-input
                  name="conyuge_telf_2"
                  value=""
                  type="tel"
                ></ion-input>
              </ion-item>
            </div>
          </ion-accordion>

          <ion-accordion value="actividadConyuge">
            <ion-item slot="header" color="light">
              <ion-label>Actividad Económica de Cónyuge</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-label position="floating"
                  >Tipo de Actividad Económica</ion-label
                >
                <ion-select
                  (ionChange)="handleChange($event)"
                  interface="action-sheet"
                  placeholder="Seleccionar"
                  name="conyuge_tipo_actividad"
                >
                  <ion-select-option value="DEPENDENCIA"
                    >DEPENDENCIA</ion-select-option
                  >
                  <ion-select-option value="INDEPENDIENTE"
                    >INDEPENDIENTE</ion-select-option
                  >
                  <ion-select-option value="INFORMAL"
                    >INFORMAL</ion-select-option
                  >
                  <ion-select-option value="CESANTE">CESANTE</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Nombre Empresa</ion-label>
                <ion-input
                  name="conyuge_nombre_empresa"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Actividad Empresa</ion-label>
                <ion-input
                  name="conyuge_actividad_empresa"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Cargo</ion-label>
                <ion-input
                  name="conyuge_cargo"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Teléfono</ion-label>
                <ion-input
                  name="conyuge_telefono_empresa"
                  value=""
                  type="tel"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Ingresos Mensuales</ion-label>
                <ion-input
                  name="conyuge_ingresos_mensuales"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>
            </div>
          </ion-accordion>

          <ion-accordion value="ref1">
            <ion-item slot="header" color="light">
              <ion-label>Referencia #1</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-label position="floating">Nombres Completos</ion-label>
                <ion-input name="ref1_nombres" value="" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Parentesco</ion-label>
                <ion-input
                  name="ref1_parentesco"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Teléfono #1</ion-label>
                <ion-input name="ref1_telf_1" value="" type="tel"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Teléfono #2</ion-label>
                <ion-input name="ref1_telf_2" value="" type="tel"></ion-input>
              </ion-item>
            </div>
          </ion-accordion>

          <ion-accordion value="ref2">
            <ion-item slot="header" color="light">
              <ion-label>Referencia #2</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-label position="floating">Nombres Completos</ion-label>
                <ion-input name="ref2_nombres" value="" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Parentesco</ion-label>
                <ion-input
                  name="ref2_parentesco"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Teléfono #1</ion-label>
                <ion-input name="ref2_telf_1" value="" type="tel"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Teléfono #2</ion-label>
                <ion-input name="ref2_telf_2" value="" type="tel"></ion-input>
              </ion-item>
            </div>
          </ion-accordion>

          <ion-accordion value="ActEconómica">
            <ion-item slot="header" color="light">
              <ion-label>Actividad Económica</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-label position="floating"
                  >Tipo de Actividad Económica</ion-label
                >
                <ion-select
                  interface="action-sheet"
                  placeholder="Seleccionar"
                  name="trabajo_tipo_actividad"
                  [formControl]="ionSelectTrabajoActividad"
                >
                  <ion-select-option value="DEP">DEPENDENCIA</ion-select-option>
                  <ion-select-option value="IND"
                    >INDEPENDIENTE</ion-select-option
                  >
                  <ion-select-option value="INF">INFORMAL</ion-select-option>
                  <ion-select-option value="CES">CESANTE</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-accordion>

          <ion-accordion value="negocio">
            <ion-item slot="header" color="light">
              <ion-label>Datos Negocio/Trabajo</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-label position="floating">RUC</ion-label>
                <ion-input
                  name="trabajo_ruc"
                  value=""
                  type="number"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input
                  name="trabajo_nombre"
                  value="{{getdata.nombre_empresa_titular}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Provincia</ion-label>
                <ion-input
                  name="trabajo_provincia"
                  value="{{getdata.cod_prov_trabajo_titular}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Cantón/Ciudad</ion-label>
                <ion-input
                  name="trabajo_canton"
                  value="{{getdata.cod_cant_trabajo_titular}}"
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Parroquia</ion-label>
                <ion-input
                  name="trabajo_parroquia"
                  value="{{getdata.cod_parr_trabajo_titular}}"
                  type="text"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Barrio</ion-label>
                <ion-input
                  name="trabajo_barrio"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input
                  name="trabajo_direccion"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Número</ion-label>
                <ion-input
                  name="trabajo_numero"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Calle Transversal</ion-label>
                <ion-input
                  name="trabajo_calle_transversal"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Referencia Ubicacion</ion-label>
                <ion-input
                  name="trabajo_ref_ubicacion"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Teléfono</ion-label>
                <ion-input
                  name="trabajo_telefono"
                  value=""
                  type="text"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Antigüedad</ion-label>
                <ion-input
                  name="trabajo_antiguedad"
                  value="{{getdata.antiguedad_lab}}"
                  type="number"
                ></ion-input>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-button
          [disabled]="dataForm.invalid"
          expand="block"
          color="primary"
          type="submit"
        >
          Realizar Gestion
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
