<!-- <div id="map"></div> -->
<app-button (click)="openModal()">Realizar Gestion</app-button>

<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/refi-listing">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="card">
    <div class="card-content">
      <form (submit)="submitForm($event)" novalidate>
        <ion-accordion-group>
          <ion-accordion value="datosRefi">
            <ion-item slot="header" color="light">
              <ion-label>Datos Refinanciamiento</ion-label>
            </ion-item>

            <div class="ion-padding" slot="content">
              <form [formGroup]="exampleForm">
                <ion-item>
                  <ion-label position="floating">Username</ion-label>
                  <ion-input formControlName="username" type="text"></ion-input>
                  <ion-note
                    *ngIf="exampleForm.controls.username.invalid && exampleForm.controls.username.touched"
                  >
                    Please enter a valid username
                  </ion-note>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input formControlName="email" type="email"></ion-input>
                  <ion-note
                    *ngIf="exampleForm.controls.email.invalid && exampleForm.controls.email.touched"
                  >
                    Please enter a valid email address
                  </ion-note>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input
                    formControlName="password"
                    type="password"
                  ></ion-input>
                  <ion-note
                    *ngIf="exampleForm.controls.password.invalid && exampleForm.controls.password.touched"
                  >
                    Please enter a password with at least 8 characters
                  </ion-note>
                </ion-item>
                <ion-button
                  [disabled]="exampleForm.invalid"
                  expand="block"
                  color="primary"
                  type="submit"
                  >Submit</ion-button
                >
              </form>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <ion-button type="submit" color="danger" expand="block"
          >Realizar Gestion
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
