ion-content{
    --background : #6b45bc;
    position: relative;
    .header{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0,5rem;
        ion-button{
            height: 60px;
            width: 60px;
            ion-icon{
                font-size: 2rem;
            }
        }
    }
    .card{
        height: 88%;
        width: 100%;
        background: #fff;
        position: absolute;
        bottom: 0.0;
        border-radius: 1rem 1rem 0 0;
        padding: 0.5rem;
        .image{
            position: absolute;
            top: -3.8rem;
            width: 37%;
            left: 55%;
            transform: translate(-50%);
        }
        .card-body{
            margin-top: 5.2rem;
            ion-label{
                font-weight: 700;
            }
            p{
                font-weight: 700;
            }
            ion-button{
                --box-shadow:none;
                --border-radius:1.8rem;
                --background:#eb445a;
                margin-top: 1.8rem;
                text-transform: initial;
                font-size: 1.2rem;
                font-weight: 600;
                height: 50px;
            }
        }
    }
}
