<ion-content class="ion-padding">
  <div class="header">
    <div class="contenedor">
      <img src="assets/images/IconoIcesa.png" alt="iconoIcesa" />
      <div class="centrado"><h1>Refinanciar</h1></div>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Arrastra para refrescar"
        refreshingSpinner="circles"
        refreshingText="Actualizando..."
      >
      </ion-refresher-content>
    </ion-refresher>
  </div>
  <app-searchbar (ionChange)="handleChange($event)"></app-searchbar>
  <ion-item>
    <ion-badge slot="start">{{results.length}} Resultados</ion-badge>
  </ion-item>
  <div class="categories">
    <!-- <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item> -->
  </div>
  <h1 class="list-header">Lista</h1>

  <div class="Refi-list" *ngIf="results.length == 0">
    <refi-card
      *ngFor="let user of getdata  | slice:0:15;"
      [cliente]="user"
      (clicked)="goToDetailPage(user.cedula)"
    ></refi-card>
  </div>
  <div class="Refi-list">
    <refi-card
      *ngFor="let user of results | slice:0:15"
      [cliente]="user"
      (clicked)="goToDetailPage(user.cedula)"
    ></refi-card>
  </div>
  <div class="empty-cart" *ngIf="!(getdata).length || 0">
    <ion-icon name="card"></ion-icon>
    <p>
      0 Registros para {{usuarioInsert}} desliza la pantalla para actualizar
    </p>
  </div>
</ion-content>
