<div class="card" (click)="clicked.emit()">
  <div class="icon-container">
    <ion-icon name="person-outline"></ion-icon>
  </div>
  <div class="info-container">
    <ion-item-group>
      <ion-item>
        <h5 style="color: #285430">{{item.vf_nombre_cliente }}</h5>
      </ion-item>
      <p><strong>Lugar: </strong> {{ item.vf_lugar_a_verificar }}</p>
      <p><strong>Domicilio: </strong><a href='https://maps.google.com/?q={{item.latitud}},{{item.longitud}}' target="_blank">{{ item.dndlD_direccion_domiciliaria }}</a>
      </p>
      <p><strong>Trabajo:</strong> {{ item.dndlN_direccion_trabajo }}</p>
      <p><strong>Nombre Tienda:</strong> {{ item.vf_nombre_tienda }}</p>
      <p><strong>Celular:</strong> {{ item.dndlN_telefonocelular }}</p>
      <p><strong>Cédula:</strong> {{ item.vf_cedula_cliente }}</p>

      <ion-item>
        <app-button2 (click)="setClienteReservado(item)">Reservar</app-button2>
      </ion-item>
    </ion-item-group>
  </div>

</div>
