.submenu ion-item ion-icon {
  margin-right: 2px;
  margin-left: -2px;
  border-radius: 5px;

}
.submenu {
  background-color: #ddd;
  border: 1px solid #ffff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: -5px;
}

.menu-item {
  ion-label {
    font-weight: bold;
  }
}

.submenu ion-label {
  color: #285430;
}


.menu-item {
  color: #285430;
}

ion-header {
  ion-toolbar {
    --background: #6b45bc;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
  }
}

ion-icon {
  color: #8e44ad;
  font-weight: bold;
}

ion-content {
  --ion-background-color: #f1d9f6;
}



