.submenu ion-item ion-icon {
  margin-right: 2px;
  margin-left: -2px;
  border-radius: 5px;

}
.submenu {
  background-color: #ddd;
  border: 1px solid #ffff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: -5px;
}


