ion-item.menu-item {
  --background: transparent;
  --border-style: none;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
}

ion-item.menu-item .submenu {
  --background: transparent;
  --border-style: none;
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-end: 5px;
}

ion-item.menu-item .submenu .ion-label {
  --padding-start: 10px;
}

ion-item.submenu-item {
  --background: transparent;
  --border-style: none;
  --padding-start: 35px;
}


ion-header {
  ion-toolbar {
    --background: #6b45bc;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
  }
}

ion-icon {
  color: #8e44ad;
  font-weight: bold;
}

ion-content {
  --ion-background-color: #f0eff0;
}



