

.label-floating.sc-ion-label-md-h {
  margin-bottom: 20px;
  color: #0d7832;
  flex: 10;
  font-size: 18px
}



ion-content {
  --background: #6b45bc;
  position: relative;
  font-size: 16px;
  ion-input {
    border: solid 1px #6b45bc;
  }


  .card {
    height: 85%;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    margin-bottom: 20px;

  }
}
