<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button (click)="exit()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
   <!--  <ion-buttons >
      <ion-button routerLink = "/home/listing">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </div>
  <div class="card">
    <div class="image" >
      <ion-img  src="assets/images/default.png"></ion-img>
    </div>
    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{getdata.genericoClidente}}</h1>
        <p class="ion-no-margin"><sup>$</sup>{{getdata.DetalleCliente}}</p>
      </div>
    </div>
    <div class="about">
      <h1>Tienda</h1>
     <!--<app-badge icon="at-circle" text="{{getdata.numeroCredito}}"></app-badge>-->
      <h1>Nombre Cliente</h1>
     <!-- <app-badge icon="alert-circle" text="{{getdata.valorCuota}}"></app-badge> -->
      <h1>CedulaCliente</h1>
     <!--  <app-badge icon="newspaper" text="{{getdata.plazoOperacion}}"></app-badge> -->
     <h1>Dirección Cliente</h1>
     <h1>Código</h1>
     <h1>Nombre Tienda</h1>
     <h1>Tipo Vivienda (combo)</h1>
     <h1>Persona Verifica (combo)</h1>
     <h1>Residencia (3 meses mínimo- combo con meses)</h1>
     <h1>Local o Terreno (combo con dos opciones) </h1>
     <h1>Planilla Servicio Básico</h1>
     <h1>Foto Planilla Servicio Básico</h1>
     <h1>Seguridad Puertas y Ventanas (combo)</h1>
     <h1>Muebleria báscia (combo)</h1>
     <h1>Material casa(combo)</h1>
     <h1>Periodicidad de actividades laborales(combo)</h1>
     <h1>Cofirmacion Informacion Vecinos (combo)</h1>
     <h1>Nombre Vecino</h1>
     <h1>Celular Vecino</h1>
     <h1>IMAGENES QUE DEBE CARGAR</h1>
     <h1>Estabilidad Laboral (mas e 6 meses)</h1>
     <h1>Facturas Proveedores (Ultimos 3 meses )</h1>
     <h1> Fachada Negocio</h1>
     <h1>Interior Negocio</h1>
     <h1> Cleinte Dentro Del Negocio</h1>
     <h1> Cliente Fuera Del Negocio</h1>
     <h1>Titulo Propiedad Garante o Codeudor</h1>
     <h1>Impuesto Predial</h1>
     <h1>Respaldo Ingresos (Transferencias bancarias o cheques)</h1>
     <h1>Certificado Laboral</h1>
     <h1>Interior Domicilio</h1>
     <h1>Latitud</h1>
     <h1>Longuitud</h1>


     <ion-item>
      <ion-label>Gestion Cobranza</ion-label>
      <ion-select
        (ionChange)="handleChange($event)"
        id="change"
        interface="action-sheet"
        placeholder="Seleccionar"
        name="cobranza"
      >
      </ion-select>
    </ion-item>
    <div id="plazo"></div>
    <div id="valorRene"></div>
    <ion-item>
      <ion-label>Observacion Detalle Gestion</ion-label>
      <ion-textarea
        name="observacion"
        placeholder="Escribir"
        [clearOnEdit]="true"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Tipo Contacto</ion-label>
      <ion-select
        interface="action-sheet"
        placeholder="Seleccionar"
        name="contacto"
        aria-required="required"
      >
        <ion-select-option value="Contactado"
          >Contactado</ion-select-option
        >
        <ion-select-option value="NoContactado"
          >No Contactado</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input name="lat" value="{{latitude}}" disabled="true"
        ><p>Latitud:</p></ion-input
      >
    </ion-item>
    <ion-item>
      <ion-input name="long" value="{{longitude}}" disabled="true"
        ><p>Longitud:</p></ion-input
      >
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Enviar</ion-button
        >
      </ion-col>
    </ion-row>













    <ion-list>
      <ion-item>
        <ion-label>Numero de cedula</ion-label>
        <ion-input name="cedula" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Numero de credito</ion-label>
        <ion-input
          name="numCredito"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tipo de Gestion</ion-label>
        <ion-select
          (ionChange)="handleChange($event)"
          interface="action-sheet"
          placeholder="Seleccionar"
          name="gestion"
        >
          <ion-select-option value="Renegociación"
            >Renegociación</ion-select-option
          >
          <ion-select-option value="Gestión Cobranza"
            >Gestión Cobranza</ion-select-option
          >
          <ion-select-option value="Recojo">Recojo</ion-select-option>
          <ion-select-option value="Verificación"
            >Verificación</ion-select-option
          >
          <ion-select-option value="Matriculación"
            >Matriculación</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Gestion Cobranza</ion-label>
        <ion-select
          (ionChange)="handleChange($event)"
          id="change"
          interface="action-sheet"
          placeholder="Seleccionar"
          name="cobranza"
        >
        </ion-select>
      </ion-item>
      <div id="plazo"></div>
      <div id="valorRene"></div>
      <ion-item>
        <ion-label>Observacion Detalle Gestion</ion-label>
        <ion-textarea
          name="observacion"
          placeholder="Escribir"
          [clearOnEdit]="true"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Tipo Contacto</ion-label>
        <ion-select
          interface="action-sheet"
          placeholder="Seleccionar"
          name="contacto"
          aria-required="required"
        >
          <ion-select-option value="Contactado"
            >Contactado</ion-select-option
          >
          <ion-select-option value="NoContactado"
            >No Contactado</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input name="lat" value="{{latitude}}" disabled="true"
          ><p>Latitud:</p></ion-input
        >
      </ion-item>
      <ion-item>
        <ion-input name="long" value="{{longitude}}" disabled="true"
          ><p>Longitud:</p></ion-input
        >
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block"
            >Enviar</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-list>








    </div>
    <app-button (click)="openModal(getdata.cedulaCliente,getdata.numeroCredito,getdata.usuario)" >Realizar Gestion</app-button>
  </div>
</ion-content>
